@page "/account/register"
@using Condom.Infra.App;
@using Condom.Views.Models;
@layout PublicLayout

<PageTitle>Condom - Cadastro</PageTitle>


<div class="card vw-100 vh-100 index-area-card bg-secondary">
    <div class="card-img-top index-area-card-img" />
    <div class="card-body mx-auto pt-5 mt-4 text-center w-100" style="max-width: 600px;">
        <h1 class="card-title fw-bold text-white pb-5">Cadastro</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-name-area"><i class="fas fa-user"></i></span>
                    <input id="register-name" class="form-control" type="text" placeholder="Nome completo" aria-describedby="register-name-area" @bind-value="Model.Name" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-address-state-area"><i class="fas fa-map-location"></i></span>
                    <input id="register-adress-state" class="form-control" type="text" placeholder="Estado" aria-describedby="register-address-state-area" @bind-value="Model.State" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-address-city-area"><i class="fas fa-city"></i></span>
                    <input id="register-adress-city" class="form-control" type="text" placeholder="Cidade" aria-describedby="register-address-city-area" @bind-value="Model.City"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-address-area"><i class="fas fa-address-card"></i></span>
                    <input id="register-adress" class="form-control" type="text" placeholder="Endereço (Rua, Bairro)" aria-describedby="register-address-area" @bind-value="Model.Address" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-address-number-area"><i class="fas fa-house"></i></span>
                    <input id="register-adress-number" class="form-control" type="text" placeholder="Número" aria-describedby="register-address-number-area" @bind-value="Model.Number"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-email-area"><i class="fas fa-envelope"></i></span>
                    <input id="register-email" class="form-control" type="email" placeholder="Digite seu e-mail" aria-describedby="register-email-area" @bind-value="Model.Domain.Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-password"><i class="fas fa-key"></i></span>
                    <input id="register-password" class="form-control" type="password" placeholder="Senha" aria-describedby="register-password" @bind-value="Model.Password" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text text-secondary bg-light" id="register-password-confirm"><i class="fas fa-check"></i></span>
                    <input id="register-password-confirm" class="form-control" type="password" placeholder="Confirme sua senha" aria-describedby="register-password-confirm" @bind-value="Model.ConfirmPassword" />
                </div>
            </div>
        </div>

        <div class="row pt-3">
            <div class="col">
                <a class="btn btn-rounded btn-md btn-secondary btn-white-bd fw-bold" href="/account/login">Retornar</a>
            </div>

            <div class="col">
                <a class="btn btn-md btn-dark btn-rounded fw-bold" @onclick="async () => await OnRegister()">Criar conta</a>
            </div>
        </div>
    </div>
</div>
@inject IdentityApp _IdentityApp
@inject NavigationManager _Navigator
@code {
    protected UsersView Model { get; set; } = new UsersView();

    protected async Task OnRegister()
    {
        await _JS.Spinner(true);

        Model.SetCrud(Domain.Global.CondEnum.CrudEnum.Create);

        Model = await _IdentityApp.OnAction(Model);

        await _JS.ShowTracker(Model.GetTracker());

        await _JS.Spinner(false);

        if (!Model.HasError())
        {
            _Navigator.NavigateTo("/account/login");
        }
    }
}