@inherits LayoutComponentBase

<PageTitle>Condom - Uma experiência coletiva</PageTitle>

<div class="page">
    <main>
        <article class="content p-0">
            @Body
        </article>
    </main>
</div>
