@page "/admin"
<div class="row">
    <div class="col">
        <div class="card mx-auto w-100 h-100">
            <div class="card-body bg-light">
                <i class="fas fa-water text-center"></i>
                <h5 class="card-title fw-bold">Água</h5>
                <strong>Custo:</strong>
                <p>R$ 1.500,00</p>
                <span class="badge rounded-pill text-success">Pago</span>
                <a class="btn btn-sm btn-rounded btn-secondary">Boleto</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mx-auto w-100 h-100">
            <div class="card-body bg-light">
                <i class="fas fa-thunderstorm"></i>
                <h5 class="card-title fw-bold">Eletricidade</h5>
                <strong>Custo:</strong>
                <p>R$ 2.043,00</p>
                <span class="badge rounded-pill text-success">Pago</span>
                <a class="btn btn-sm btn-rounded btn-secondary">Boleto</a>
            </div>
        </div>
    </div>
</div>

@code {

}
