@page "/group"

<div class="row">
    <div class="col-lg-6 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://www.simplelegal.com/wp-content/uploads/2019/11/bg-guideline-management-social.png" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #4f7d95;">
                <h5 class="card-title text-white fw-bold">Minhas Contas</h5>
                <p class="card-text text-white">Controle os boletos que estão em aberto ou que já foram pagos, assim como outros custos relacionados a sua moradia.</p>
                <a href="#" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://cdn2.howtostartanllc.com/images/business-ideas/business-idea-images/tool-rental.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #af7137; color: white;">
                <h5 class="card-title fw-bold">Aluguel</h5>
                <p class="card-text">Aqui você será capaz de alugar equipamentos, assim como meios de locomoção disponibilizados por outros moradores, podendo economizar dinheiro e até mesmo ter uma renda extra </p>
                <a href="#" class="btn btn-yellow">Conhecer</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://istoe.com.br/wp-content/uploads/2020/07/assedio-sexual.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #b9b9b9;">
                <h5 class="card-title fw-bold">Denúncia</h5>
                <p class="card-text">Colabore com a segurança dos moradores e denuncie qualquer tipo de ação suspeita, assédio e violência as entidades responsáveis de forma anônima.</p>
                <a href="#" class="btn btn-danger">Denunciar</a>
            </div>
        </div>
    </div>
</div>

<div class="row pb-2">
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://cdn.awsli.com.br/600x450/1641/1641062/produto/67106051/b2982d9851.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #d5ccc6;">
                <h5 class="card-title fw-bold">Reservar Espaço</h5>
                <p class="card-text">Desfrute dos ambientes que estão disponíveis no seu condomínio</p>
                <a href="#" class="btn btn-yellow">Reservar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto ww-100 h-100">
            <img src="https://th.bing.com/th/id/OIP.L-tZPxDpcVjOZ8qzMxlpHQHaEK?pid=ImgDet&w=730&h=410&rs=1" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #fcfcfc;">
                <h5 class="card-title fw-bold">Doações</h5>
                <p class="card-text">Faça parte de uma sociedade colaborativa, ajude as pessoas em situação de vulnerabilidade.</p>
                <a href="#" class="btn btn-success">Doar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://holisticwellness.ca/wp-content/uploads/2014/06/Image-1.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #f9f7ec;">
                <h5 class="card-title fw-bold">Comércio Local</h5>
                <p class="card-text">Ajude o pequeno comérciante, conheça os produtos e serviços que outros moradores estão oferecendo no seu condomínio.</p>
                <a href="#" class="btn btn-yellow">Descobrir</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Bhshoppingestacionamento.JPG/800px-Bhshoppingestacionamento.JPG" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #0a0c07;">
                <h5 class="card-title fw-bold text-white">Vagas</h5>
                <p class="card-text text-white">Conheça sua vaga, descubra as vagas que estão disponíveis para alugar e a data de sorteio caso o seu condôminio não tenha vaga reservada</p>
                <a href="#" class="btn btn-yellow">Monitorar</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <img src="https://cdn.sindiconet.com.br/Conteudos/90/assembleia3.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #d5ccc6;">
                <h5 class="card-title fw-bold">Assembleia On-Line</h5>
                <p class="card-text">Utilize nossa assembleia virtual para propor mudanças e realizar votações sobre determinadas pautas de maneira totalmente remota.</p>
                <a href="#" class="btn btn-yellow">Utilizar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 pb-3">
        <div class="card mx-auto ww-100 h-100">
            <img src="https://img.freepik.com/premium-photo/swing-exercising-with-kettle-bell-pump-whole-body-muscles-front-view-sexy-woman-sportswear-good-physical-shape-lifting-weights-indoor-gym-fitness-challenge_232070-12187.jpg?w=996" class="card-img-top" alt="...">
            <div class="card-body text-center" style="background-color: #6b6a6f;">
                <h5 class="card-title fw-bold text-white">Desafios</h5>
                <p class="card-text text-white">Melhore sua qualidade de vida e aproveite nossos desafios semanais na academia do seu condôminio</p>
                <a href="#" class="btn btn-danger">Participar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-5 pb-3">
        <div class="card mx-auto w-100 h-100" style="max-height: 200px;">
            <img src="https://camiper.com/tiempominero-noticias-en-mineria-para-el-peru-y-el-mundo/wp-content/uploads/2019/10/dia-del-agua.jpg" class="card-img-top" alt="..." style="max-height: 400px;">
            <div class="card-body text-center" style="background-color: #acd2e8;">
                <h5 class="card-title fw-bold">Consumo Consciente</h5>
                <p class="card-text">Praticar o consumo consciente da água não significa deixar de usar o recurso, mas sim repensar suas formas de uso da água, compare seu consumo de água e acompanhe os níveis dos reservatorios da sua região</p>
                <a href="/esg/water" class="btn btn-primary">Descobrir</a>
            </div>
        </div>
    </div>
</div>

@code {

}
