@page "/dashboard"

<div class="row">
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <div class="card-body text-center mt-5" style="background-color: transparent;">
                <h5 class="card-title fw-bold">Deseja criar um novo grupo?</h5>
                <p class="card-text ">Administre um novo grupo ou condomínio</p>
                <a href="/group/new" class="btn btn-dark btn-rounded w-50">Sim, criar um novo</a>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <div class="card-body text-center card-groups-info bg-secondary" >
                <h5 class="card-title text-white fw-bold">Perfect Home</h5>
                <p class="card-text text-white">Condomínio de Prédios</p>
                <a href="/group" class="btn btn-dark btn-rounded w-50">Acessar</a>
            </div>
            <img src="https://www.quintoandar.com.br/img/xxl/893331787-914.3758211358933DSC6429.JPG" class="card-img-top card-groups-img" alt="...">
        </div>
    </div>
    <div class="col-lg-3 pb-3">
        <div class="card mx-auto w-100 h-100">
            <div class="card-body text-center card-groups-info bg-secondary">
                <h5 class="card-title text-white fw-bold">Madureira</h5>
                <p class="card-text text-white">Condomínio de Casas</p>
                <a href="/group" class="btn btn-dark btn-rounded w-50">Acessar</a>
            </div>
            <img src="https://th.bing.com/th/id/OIP.UL7AxocYvWxVJLLo63j_bgHaEm?pid=ImgDet&rs=1" class="card-img-top card-groups-img" alt="...">
        </div>
    </div>
</div>

@code {

}
