@page "/"
@layout PublicLayout

<PageTitle>Condom - Gerencie o seu espaço</PageTitle>


<div class="card vw-100 vh-100 index-area-card bg-secondary">
    <div class="card-img-top index-area-card-img" />
    <div class="card-body mx-auto pt-5 mt-4 text-center">
        <img src="img/logo_full-removebg-white.png" style="height: 90px; width: 240px; margin-top: 50px;" />
        <h2 class="card-title fw-bold text-white"></h2>
        <div class="row">
            <div class="col-lg-12">
                <a href="/account/login" class="btn btn-lg btn-light btn-rounded mt-5 fw-bold">Começar</a>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
@*                <a href="/account/login" class="link-dark">Entrar na minha conta</a>*@
            </div>
        </div>
    </div>
</div>
