@page "/"
@layout PublicLayout

<PageTitle>Condom - Gerencie o seu espaço</PageTitle>


<div class="card vw-100 vh-100 index-area-card">
    <div class="card-img-top index-area-card-img" />
    <div class="card-body mx-auto pt-5 mt-4 text-center">
        <h2 class="card-title fw-bold">Bem vindo ao seu condomínio</h2>
        <div class="row">
            <div class="col-lg-12">
                <a href="/account/register" class="btn btn-lg btn-yellow mt-5">Cadastro</a>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-12">
                <a href="/account/login" class="link-dark">Entrar na minha conta</a>
            </div>
        </div>
    </div>
</div>
